<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.greentable.member">

	<!-- 
		id 속성은 중복되지 않도록 설정한다. MyBatis Handler에서 찾아 실행 
		namespace 속성:  자바에서 package와 같은 역할(동일한 id를 정의 했을 때 namespace를 다르게줘서 구분하여 사용) 
		 #{ } : PreparedStatement bind 변수와 동일한 업무 수행
	 -->
	
	<!-- 게시물의  총 갯수 -->
	<select id="allMemberCnt" resultType="int">
		select count(*) cnt 
		from member
	</select>
	
	<!-- member 조회작업 : resultType 사용: 회원 전체 리스트 가입일, 이름 순 조회 -->
	<select id="selectMemberList" parameterType="kr.co.greentable.admin.vo.MemberRangeVO" resultType="kr.co.greentable.admin.domain.SelectMemberListDomain">
		select id, name, email, to_char(join_date, 'yyyy-mm-dd hh24:mi') join_date
			from(select rownum rnum, id, name, email, join_date
				from(select id, name, email, join_date
					from member
					order by join_date desc))
			where rnum between ${ startNum} and ${ endNum}
	</select>  

	<!-- member 조회작업 : resultType 사용: 회원 아이디 클릭 시 상세 페이지  -->
	<select id="selectMemberDetailList" resultType="kr.co.greentable.admin.domain.SelectMemberDetailDomain">
		select	id, email, addr1, addr2, zipcode, phone, to_char(join_date, 'yyyy-mm-dd hh24:mi') join_date
		from	member
		where	id = #{ id }
	</select>
	
	<!-- 삭제 작업 -->
	<delete id="deleteMember" parameterType="String">
		delete	from member 
		where id = #{ id}
	</delete>
	
	<!-- 변경 작업 -->
	<update id="updateMember" parameterType="kr.co.greentable.admin.vo.ModifyMemberVO"> 
		update	member
		set		id=#{id}, email=#{email}, addr1=#{addr1}, addr2=#{addr2}, zipcode=#{zipcode}, phone=#{phone}
		where	id=#{id}
	</update>
	
</mapper>
